body {
    margin: 0;
    background-color: #EDFFE2;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #004121;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.icono-user {
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 30px 0;
}

.sidebar ul li .button {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #52951C;
}

.Cerrar-Sesion {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #C20000;
    border: none;
    cursor: pointer;
}

.Cerrar-Sesion:hover{
    background-color: #940000;

}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #64B65F;
    color: white;
    padding: 40px;
    text-align: center;
}

.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: #2abe2a;
}

.chart-section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chart-section h2 {
    text-align: center;
    margin-bottom: 20px;
}